.structure {
    display: flex;
    flex-direction: column;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

button {
    color: #f9faf8;
    background-color: #3882f6;
    border-radius: 5px;
    border: 2px solid #f9faf8;
}

 /*----------header------------*/
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10%;
    background-color: #1F2937;
}

.header-logo {
    font-size: 24px;
    color: #f9faf8;
}

.links {
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
    margin: 2%;
}

li {
    color: #e5e7eb;
    text-decoration: none;
    list-style-type: none;
    font-weight: bold;

}
 /*----------content-prelude------------*/

.content-prelude {
    display: flex;
    padding: 5% 10%;
    justify-content: center;
    align-content: center;
    background-color: #1F2937;
    gap: 30px;
    flex-wrap: wrap;
}

.content-prelude .left {
    display: flex;
    flex-direction: column;
    flex: 1.3 0 350px;
    max-width: 800px;
    min-width: 450px;
    gap: 15px;
    padding-bottom: 20px;
}

.main-text {
    font-weight: extra-bold;
    color: #F9FAF8;
    font-size: 48px;
}

.sub-text {
    font-size: 18px;
    color: #e5e7eb;
}

.sign-up {
   width: 100px;
    max-height: 50px;
    align-items: center;
}

.image1 {
    flex-basis: 500px;
    height: 250px;
    max-width: 500px;
    flex-grow: 1;
    background-color: gray;
}

 /*----------content-images------------*/

 .content-images {
    padding: 2% 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

 .image-panes {
    display: flex;
    justify-content: space-evenly;
    padding: 0 12%;
    flex-wrap: wrap;
    margin-bottom: 20px;
    
 }

.main-text2 {
    text-align: center;
    padding: 10px 20px;
    font-weight: extra-bold;
    font-size: 36px;
    color: #1f2937;
}

.pane {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    flex-grow: 0;
    flex-basis: 200px;
    margin: 5px 5px;
}

.text {
    text-align: center; 
    font-size: 18px;
    font-style: italic;
}
 .img {
    height: 200px;
    max-height : 200px;
    width : 200px;
    border: 5px solid #3882f6;
    border-radius: 14%;
 }


  /*----------content-testimonial------------*/

 .content-testimonial {
    padding: 2% 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    background-color: #e5e7eb;
  }

  .authorq {
    text-align: right;
  }

  .authorq,.content-testimonial {
    font-size: 36px;
    font-weight : light;
    font-style: italic;
    color: #1f2937;
  }
  /*----------content-signup------------*/

.content-signup {
    padding: 2% 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3882f6;
}

.message {
    color: #e5e7eb;
    font-size: 18px;
}

h5 {
    color: whitesmoke;
}

  /*----------footer-----------*/

  .footer {
    padding: 20px 20px;
    display: flex;
    height: 60px;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
}

.footer-text {
    color: #e5e7eb;
    font-size: 18px;
}